/*ESTILOS GENERALES*/
html, body{
    height: 100%;
    max-width: 1920px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.09rem;
}

/*MODELO DE CAJAS CSS*/
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

/* RESETEAR MÁRGENES Y PADDING*/
* {
    margin: 0;
    padding: 0;

}

/*CENTRAR ELEMENTOS EN PANTALLA*/
.container {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

#scrollToTop{
    position: fixed;
    right: 50px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ff8e49;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    color: #eaeaea;
    border: none;
    outline: none;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 1000;
}

#scrollToTop:active{

    background: #008130;
}

#scrollToTop.active{
    visibility: visible;
    opacity: 1;
}

#scrollToTop:hover{
    background: #008130;
}

/*NAVBAR*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
    background-color: #EAEAEA;
    width: 100%;

}

nav .logo{
    padding-left: 5em;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%;
    padding-right: 4em;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #343434;
    text-decoration: none;
    text-transform: uppercase;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-color: #F18D4F;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}


.nav-links li a:hover{
    text-decoration-color: #6CBE72;
}

.nav-links .active {
    text-decoration-color: #6CBE72;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color:#686666;
    margin: 5px;
    transition: all 0.3s ease;
}



/* #navbar {
    background-color: #EAEAEA;
    width: 100%;
    height: 130px;
}

#navbar-header {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

#main-nav {
    display: flex;
    list-style: none;
}

#main-nav{
    width: 345px;
    height: auto;
}

#logo{
   padding-top: 5px;
}

#main-nav li a {
    color: #343434;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-color: #F18D4F;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    padding: 50px 1em;
    display: flex;
}

#main-nav li a:hover {
    text-decoration-color: #6CBE72;
}

#main-nav .active {
    text-decoration-color: #6CBE72;
} */

/*(HOME) SECCIÓN 2: DESCRIPCIÓN*/

#descripcion{
    display: flex;
    padding: 60px 0 ;
    width: 60%;
}

#descripcion p {
    line-height: 2rem;
    text-align: center;
    font-size: 1.6rem;
    
}

/*(HOME) SECCIÓN 3 : CLIENTES*/
#seccionClientes {
    background-color: #EAEAEA;
    
}

#seccionClientes h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 2em 0;
    text-transform: uppercase;
}


#clientes{
    display: flex;
    padding-top: 1em;
    justify-content: space-evenly;
    padding-bottom: 4em;
    max-width: 80%;
    align-items: center;
  
}

/*(HOME) SECCIÓN 4: PROVEEDORES*/

#titulo-proveedores h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2em;
    text-transform: uppercase;
}

#titulo-proveedores h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1.2em;
    padding-bottom: 1.5em;
}

#proveedores{
    display: flex;
    padding-top: 1em;
    padding-bottom: 4em;
    justify-content: space-evenly;
    max-width: 100%;
    align-items: center;
}

/*(OBRAS) SECCIÓN 1: CONTRACT*/
#titulo-obras h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    padding-top: 2em;
    text-transform: uppercase;
}

#contract{
    display: flex;
    padding: 35px 0;
    justify-content: left;
    align-items: center;
}

#contract h2{
    margin-left: 65px;
    font-size: 25px;
}

/*(OBRAS) SECCIÓN 2: MERCADO LIBRE*/
#mercado-libre{
    display: flex;
    padding: 55px 0;
    justify-content: left;
    align-items: center;
}

#mercado-libre h2{
    margin-left: 65px;
    font-size: 25px;
}

/*(OBRAS) SECCIÓN 3: TOWN HOUSE*/
#town-house{
    display: flex;
    padding: 55px 0;
    justify-content: left;
    align-items: center;
}

#town-house h2{
    margin-left: 65px;
    font-size: 25px;
}

/*(OBRAS) SECCIÓN 4: NEKZA*/
#nekza{
    display: flex;
    padding: 75px 0;
    justify-content: left;
    align-items: center;
}

/*(OBRAS) ESPACIO AL FINAL*/
#espacio{
    padding: 75px 0;
}

/*(CONTACTO) DATOS DE CONTACTO*/

#titulo-contacto h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    padding: 2em 0;
    text-transform: uppercase;
}

#contacto-mapa{
    columns: 800px 2;
    padding: 2em 0 8em 0;
}


 #contacto-mapa #contacto{
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 5em;
    margin-top: 1.7em;
    padding: 3em;
    display: flex;
    flex-direction: column;
}

#contacto-mapa #contacto .box{
    position: relative;
    padding: 20px 0;
    font-size: 36px;
    display: flex;
    
}


#contacto-mapa #contacto i{
    min-width: 60px;
    height: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 40px;
    margin: 2px;
}

#mapa{
    justify-content: left;
    align-items: left;



}


/* #contacto-mapa {
    position:relative; 
    display: flex;
    justify-content: center;
    margin: 2.5em 4.5em;
    padding-bottom: 5em;
    }

#contacto {
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 4em;    
}

#contacto ul div a{
    color: #343434;
    text-decoration: none;
    list-style: none;  
    font-size: 1.4em;
    text-align: center;
}

#email:hover{
    color: #4576b0;
}

#contacto div i{
    font-size: 2em;
    margin: 15px;
}

#maipu{
    padding-left: 70px;
}

#mapa2 {
    padding-left: 3em;
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%
} */



/*FOOTER*/
footer {
    background-color: #EAEAEA;
}

#footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 95%;
}


footer li {
    font-family: "Montserrat", sans-serif;
    text-align: right;
    text-decoration: none;
    color: #343434;
    font-weight: 600;
    list-style: none;
    margin: 4px 0 ;
    font-size: 1rem;
    line-height: 30px;    
}

footer li a{
    text-decoration: none;
    color: #343434; 
}

#copyright {
    color: #343434;
    text-align: center;
    font-weight: 600;
    border-top: 1px solid #D9D9D9;
    padding: 12px 0px;
    font-size: 0.95rem;
}

/* MEDIA QUERIES */

@media  screen and (max-width: 1500px){
    .nav-links{
        width: 30%;
    }

}


@media  screen and (max-width: 768px){

    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 29vh;
        width: 50%;
        top: 11vh;
        background-color: #EAEAEA;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 70px;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    nav .logo{
        margin: 0;
        padding-left: 2em;
    }

    .logo img{
        width: 283px;
        height: 113px;
    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        padding-right: 25px;
    }

    

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}